
<div class= "col-xs-6">
  <h1>Foods:</h1>

  <% @foods.each do |food| %>
    <%= food.name.split(" ").map(&:capitalize).join(" ") %> : <%= food.calories %> calories consumed
    <%= link_to "Edit", edit_food_path(food), id:"edit_food_button", remote: true %>
    <%= link_to "Delete", food_path(food), :data => {confirm: "Are Your Sure?", method: "delete"} %>
    <br>
    <br>
  <% end %>
  <%= link_to "New Food", new_food_path, id:"new_food_button", remote: true %>
</div>




<div class="col-xs-6">
  <h1>Exercise</h1>


  <% @exercises.each do |exercise| %>
    <%= exercise.name.split(" ").map(&:capitalize).join(" ") %> : <%= exercise.calories %> calories burned
    <%= link_to "Edit", edit_exercise_path(exercise), id:"edit_exercise_button", remote: true %>
    <%= link_to "Delete", exercise_path(exercise), :data => {confirm: "Are Your Sure?", method: "delete"} %>
    <br>
    <br>
  <% end %>


  <%= link_to "New Exercise", new_exercise_path,  id:"new_exercise_button", remote: true %>
</div>
