<!DOCTYPE html>
<html>
<head>
  <title>HealthyHelper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron">
    <center><h1>HealthyHelper</h1></center>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <br><br><hr>
    <center><%= link_to "Home", root_path %></center>
</body>
</html>
